# Módulo 1 - Fundamentos de Python
* Tu primer programa
* Tipos
* Expresiones y Variables
* Operaciones con Cadenas

# Módulo 2 - Estructuras de Datos en Python
* Listas y Tuplas
* Conjuntos
* Diccionarios

In [ ]:
mi_lista = ['Mercado',  20000, True, ['Pan', ' Arroz', 'Carne'], 34.5]
mi_lista

['Mercado', 20000, True, ['Pan', ' Arroz', 'Carne'], 34.5]

In [ ]:
# Métodos de Listas:
# Agregar Elementos de la lista:
mi_lista.append('Almacenes Exito')
print(mi_lista)

#Eliminar cualquier elemento de la lista
mi_lista.remove(20000)

In [ ]:
#Indicar el numero del mes cuando el usuario digite un numero por teclado
meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']

valor_usuario = int(input('Digite el número para validar el mes: '))

if valor_usuario > 0 and valor_usuario <= 12:
  print(meses[valor_usuario - 1])
else:
  print('El número ingresado no corresponde a un mes')

Digite el número para validar el mes: 6
Junio

In [ ]:
#Indicar que numero de mes es, el nombre de mes que el usuario ingrese por teclado:

mes_usuario = input('Digite el nombre del mes: ')

if mes_usuario in meses:
  print(meses.index(mes_usuario) + 1)
else:
  print('El mes ingresado no existe')

Digite el nombre del mes: Febrero
2

In [ ]:
#Calcular el promedio de 50 valores almacenados en un vector. Determinar además cuantos son mayores que el promedio, imprimir el promedio, el número de datos mayores que el promedio y una lista de valores mayores que el promedio.

In [ ]:
# prompt: crear un lista con valores enteros aleatorios

import random

# Crear una lista con 50 valores enteros aleatorios entre 1 y 100
vector = [random.randint(1, 100) for _ in range(50)]

vector

In [6]:
import random

the_lista = [random.randint(1, 1000) for _ in range(50)]
the_lista

[530,
 757,
 219,
 842,
 721,
 507,
 9,
 17,
 91,
 214,
 75,
 799,
 323,
 946,
 24,
 537,
 320,
 284,
 868,
 826,
 196,
 562,
 75,
 673,
 120,
 866,
 777,
 290,
 894,
 927,
 491,
 511,
 467,
 171,
 73,
 757,
 654,
 58,
 78,
 474,
 896,
 9,
 390,
 974,
 208,
 584,
 326,
 10,
 674,
 584]

In [8]:
cantidad_elementos = len(the_lista)
cantidad_elementos

50

In [10]:
suma_elementos = sum(the_lista)
suma_elementos

22678

In [12]:
promedio_lista = suma_elementos / cantidad_elementos
promedio_lista

453.56

In [16]:
# Determinar los mayores que el promedio
mayores_promedio = 0
lista_elementos_mayores_avg = []

for item in the_lista:
  # validamos si el elemento es mayor al promedio.
  if item > promedio_lista:
    mayores_promedio += 1
    lista_elementos_mayores_avg.append(item)

print(promedio_lista)
print(mayores_promedio)
print(lista_elementos_mayores_avg)

453.56
27
[530, 757, 842, 721, 507, 799, 946, 537, 868, 826, 562, 673, 866, 777, 894, 927, 491, 511, 467, 757, 654, 474, 896, 974, 584, 674, 584]

In [18]:
#Calcular el mayor de tres números enteros introducidos por teclado
num1 = int(input('Digite el primer número: ' ))
num2 = int(input('Digite el segundo número: '))
num3 = int(input('Digite el tercer número: '))

if num1 >= num2 and num1 >= num3:
  print(f'El número mayor es: {num1}')
  if num2 >= num3 and num1 >=num3:
    print(f'el número mayor es: {num2}')
  if num3 >= num2 and num1 >= num3:
    print(f'el número mayor es: {num3}')

Digite el primer número: 10
Digite el segundo número: 15
Digite el tercer número: 80
El número mayor es: 15

# Módulo 3 - Fundamentos de Programación en Python
* Condiciones y Ramificaciones
* Bucles
* Funciones
* Objetos y Clases

# Módulo 4 - Trabajando con Datos en Python
* Lectura de archivos con open
* Escritura de archivos con open
* Carga de datos con Pandas
* Trabajo y Guardado de datos con Pandas

# Módulo 5 - Trabajando con Arreglos Numpy y APIs Simples
* Arreglos 1D de Numpy
* Arreglos 2D de Numpy
* APIs Simples
* Configuración de API