<a href="https://colab.research.google.com/github/simong0128/Talentotech/blob/main/Python_para_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Módulo 1 - Fundamentos de Python
* Tu primer programa
* Tipos
* Expresiones y Variables
* Operaciones con Cadenas

# Módulo 2 - Estructuras de Datos en Python
* Listas y Tuplas
* Conjuntos
* Diccionarios

In [ ]:
mi_lista = ['Mercado', 280000, True, ['Pan', 'Arroz', 'Carne'], 34.5]
mi_lista

['Mercado', 280000, True, ['Pan', 'Arroz', 'Carne'], 34.5]

In [ ]:
# Métodos de Listas:
# Agregar Elementos a la lista:
mi_lista.append('Almacenes Éxito')
print(mi_lista)

# Eliminar cualquier elemento de la lista :
# mi_lista.remove(280000)         # Le paso el método con el valor a buscar y eliminar
print(mi_lista)

mi_lista.remove('Almacenes Éxito')
print(mi_lista)

['Mercado', True, ['Pan', 'Arroz', 'Carne'], 34.5, 'Almacenes Éxito', 'Almacenes Éxito', 'Almacenes Éxito', 'Almacenes Éxito', 'Almacenes Éxito']
['Mercado', True, ['Pan', 'Arroz', 'Carne'], 34.5, 'Almacenes Éxito', 'Almacenes Éxito', 'Almacenes Éxito', 'Almacenes Éxito', 'Almacenes Éxito']
['Mercado', True, ['Pan', 'Arroz', 'Carne'], 34.5, 'Almacenes Éxito', 'Almacenes Éxito', 'Almacenes Éxito', 'Almacenes Éxito']

In [ ]:
mi_lista.remove('Almacenes Éxito')
print(mi_lista)

['Mercado', True, ['Pan', 'Arroz', 'Carne'], 34.5, 'Almacenes Éxito', 'Almacenes Éxito']

In [ ]:
print(mi_lista)

mi_lista.pop(3)
print(mi_lista)

['Mercado', True, ['Pan', 'Arroz', 'Carne'], 34.5, 'Almacenes Éxito', 'Almacenes Éxito']
['Mercado', True, ['Pan', 'Arroz', 'Carne'], 'Almacenes Éxito', 'Almacenes Éxito']

In [ ]:
mi_lista[2].pop(0)
mi_lista

['Mercado', True, ['Arroz', 'Carne'], 'Almacenes Éxito', 'Almacenes Éxito']

In [ ]:
mi_lista[2].append('Leche')
mi_lista

['Mercado',
 True,
 ['Arroz', 'Pescado', 'Leche'],
 'Almacenes Éxito',
 'Almacenes Éxito']

In [ ]:
mi_lista[2].remove('Pescado')
mi_lista[2].insert(1,'Condimentos')
mi_lista

['Mercado',
 True,
 ['Arroz', 'Condimentos', 'Carne'],
 'Almacenes Éxito',
 'Almacenes Éxito']

In [ ]:
# Indicar el nombre del mes cuando el usuario digite un número por teclado:

In [ ]:
# Tuplas
mi_tupla = (True, 2, 2.3, "Talento Tech")
mi_tupla

In [ ]:
mi_dicc["item"]
mi_dicc["item"][2]

In [3]:
mi_dicc = {
    "texto" 33,
    3 : "Hola",
    True : False,
    "item": [1,2,3,4],
}

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-3-6be392a88956>, line 2)

In [1]:
mi_dicc.keys()

NameError: name 'mi_dicc' is not defined

In [4]:
mi_dicc.get("item")

NameError: name 'mi_dicc' is not defined

In [6]:
# Definicion de función:
def mi_funcion():
  msj = "Hola Mundo"
  return msj

In [9]:
mi_funcion()

'Hola Mundo'

In [12]:
def calculadora_dos_num(num1, num2, operacion):
  """
    Esta función realiza operaciones aritmeticas entre 2 numeros

    Parametros:
    num1: int, float
    num2: int, float
    operacion: str, lower case

    return:
    resultado: int, float
  """
  if operacion == 'suma':
    resultado = num1 + num2
  elif operacion == 'resta':
    resultado = num1 - num2
  elif operacion == 'multiplicacion':
    resultado = num1 * num2
  elif operacion == 'division':
    resultado = num1 / num2

  return resultado

In [15]:
calculadora_dos_num(3,3.4, "division")

0.8823529411764706

In [17]:
# Crear una función llamada "division", que reciba como parámetros dos números enteros y devuelva como
# resultado un número real, que sea el resultado de dividir el primer número entre el segundo (con decimales).

def division(num1, num2):

SyntaxError: incomplete input (<ipython-input-17-9fe09dfc7cc9>, line 4)

In [ ]:
def suma(a, b):
  suma = a+b
  return suma

a = int(input("Ingrese un número: "))
b = int(input("Ingrese otro número: "))

resultado = suma(a,b)
print(resultado)

In [ ]:
# prompt: Crear una función llamada "division", que reciba como parámetros dos números enteros y devuelva como
# resultado un número real, que sea el resultado de dividir el primer número entre el segundo (con decimales).

def division(num1, num2):
  """
    Esta función divide dos números enteros y devuelve el resultado como un número real.

    Parámetros:
    num1 (int): El numerador.
    num2 (int): El denominador.

    Retorna:
    float: El resultado de la división de num1 entre num2.
  """
  if num2 == 0:
    return "Error: División por cero no permitida."
  else:
    return float(num1 / num2)

# Módulo 3 - Fundamentos de Programación en Python
* Condiciones y Ramificaciones
* Bucles
* Funciones
* Objetos y Clases

# Módulo 4 - Trabajando con Datos en Python
* Lectura de archivos con open
* Escritura de archivos con open
* Carga de datos con Pandas
* Trabajo y Guardado de datos con Pandas

# Módulo 5 - Trabajando con Arreglos Numpy y APIs Simples
* Arreglos 1D de Numpy
* Arreglos 2D de Numpy
* APIs Simples
* Configuración de API